/* ============================== SEKTIONER ============================= */

.menu_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

#section_2 .box {
  width: 100%;
  padding-top: 32%;
  padding-bottom: 32%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#section_2 .box div {
  width: 100%;
  padding: 2rem 0 2rem 0;
  text-align: center;
  background: #cca45fed;
}

#section_2 p {
  color: white;
}

#section_2 h3 {
  color: white;
}

#section_2 a {
  color: white;
}

#section_2 .box_1 {
  background-image: url(../assets/forside/responsivt.jpg);
  background-size: cover;
  background-position: center;
}

#section_2 .box_2 {
  background-image: url(../assets/forside/prototype.jpg);
  background-size: cover;
  background-position: center;
}

#section_2 .box_3 {
  background-image: url(../assets/forside/pitch.jpg);
  background-size: cover;
  background-position: center;
}

#section_2 .box_4 {
  background-image: url(../assets/forside/animation.jpg);
  background-size: cover;
  background-position: center;
}

#section_2 .box_5 {
  background-image: url(../assets/forside/pilotprojekt.jpg);
  background-size: cover;
  background-position: center;
}

#section_2 .box_6 {
  background-image: url(../assets/forside/redesign.jpg);
  background-size: cover;
  background-position: center;
}

#section_3 .box_7 {
  background-image: url();
  background-size: cover;
  background-position: center;
}

#section_3 .box_8 {
  background-image: url();
  background-size: cover;
  background-position: center;
}

#section_3 .box_9 {
  background-image: url();
  background-size: cover;
  background-position: center;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .menu_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
