:root {
  /* =========================== Farver ===========================*/
  --baggrund: #f1ede2;
  --kul: #262521;
  --morkegra: #545454;
  --mellemgra: #747474;
  --paragrafgra: #8e8e8e;
  --cobolt: #4b6db0;
  --lysebla: #cee1f6;
  --stovbla: #c6d7db;
  --gron: #a7954b;
  --gylden: #cca45f;
  --beige: #e5caac;

  /* =========================== Fonte ===========================*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    color: #262521;
  }

  h2 {
    font-family: "Lora", serif;
    font-size: 1.8rem;
    color: #545454;
  }

  h3 {
    font-family: "Lora", serif;
    font-size: 1.4rem;
    color: #747474;
  }

  p {
    font-family: "Lora", serif;
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: #8e8e8e;
  }

  a {
    font-family: "Lora", serif;
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: #8e8e8e;
    /* text-decoration-line: underline; */
  }

/* =========================== Section ===========================*/

/* =========================== Menu ===========================*/

/* =========================== Main ===========================*/
main {
  display: grid;
  grid-template-columns:
    minmax(3rem, 1fr)
    minmax(auto, 1200px)
    minmax(3rem, 1fr);
  margin: auto;
}
main > * {
  grid-column: 2;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 2rem;
  line-height: 2rem;
}

