/* ================ GENERELLE KODER =====================  */
* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 2rem;
  background-color: #f1ede2;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.9rem;
  color: #262521;
  font-weight: 180;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #545454;
  padding: 1rem 0 1rem 0;
  font-weight: 200;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: #747474;
  font-weight: 200;
}

p {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #8e8e8e;
  padding: 1rem 0 1rem 0;
}

li {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.7rem;
  color: #8e8e8e;
}

a {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.7rem;
  color: #8e8e8e;
  text-decoration-line: underline;
}

section {
  margin: 3rem 0 0 0;
}

/* ============================== HEADER & NAV ============================= */

header {
  background-color: #cee1f6;
}

header img {
  width: 100px;
  height: auto;
}

ul {
  list-style-type: none;
  color: #55697e;
}

/* ============================== SEKTIONER ============================= */

#section_1 img {
  width: 70%;
  height: auto;
}

#section_1 div {
  padding-bottom: 1.5rem;
}

#section_3 img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#section_3 p {
  margin-bottom: 1rem;
}

#section_4 img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#section_4 {
  background-color: #a7954b;
  padding: 0 2rem 2rem 2rem;
}

#section_4 p {
  color: white;
}

#section_4 h2 {
  color: white;
}

#section_4 h3 {
  color: white;
}

#section_5 img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jobtitel_wrapper {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* ========================== FOOTER KODER ============================= */

footer {
  background-color: #cee1f6;
  padding: 0.3rem 0.8rem 2.5rem 2rem;
}

footer ul {
  list-style-type: none;
}

footer h3 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

footer h3,
li,
p,
a {
  color: #55697e;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  main {
    padding: 3rem 10rem 3rem 10rem;
  }

  footer {
    padding: 3rem 10rem 3rem 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_1_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  #section_4 img {
    width: 60%;
    height: auto;
  }

  .section_4_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 2rem;
  }
  /* 

HVORFOR KAN JEG IKKE ALIGNE PÅ DEN MÅDE JEG GERNE VIL?????

  .col_1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .col_2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .col_3 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .pic_1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .pic_2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .pic_3 {
    grid-row: 1/2;
    grid-column: 3/4;
  } */

  #section_5 img {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
  }

  .section_5_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
