/* ============================== SEKTIONER ============================= */

.box {
  padding: 1rem;
  margin: 0 0.8rem 1.6rem 0.8rem;
  transition: all 0.2s ease-in-out;
}

.box:hover {
  transform: scale(1.07);
}

.box_design {
  background-color: #e5caac;
}

.box_design a {
  color: #846441;
  font-weight: 550;
}

.box_design h3 {
  color: #846441;
}

.box_design p {
  color: #846441;
}

.box_kodning {
  background-color: #bad3ee;
}

.box_kodning a {
  color: #3b5b7d;
  font-weight: 550;
}

.box_kodning h3 {
  color: #3b5b7d;
}

.box_kodning p {
  color: #3b5b7d;
}

.box_analyse {
  background-color: #4b6db0;
}

.box_analyse h3 {
  color: white;
}

.box_analyse p {
  color: white;
}

.box_generelt {
  background-color: #a7954b;
}

.box_generelt h3 {
  color: white;
}

.box_generelt p {
  color: white;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .section_2_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section_4_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
