/* ============================== SEKTIONER ============================= */

#section_3 {
  background-color: #c6d7db;
  padding: 0 2rem 2rem 2rem;
}

.knap {
  background: #c4d4e5;
  text-align: center;
  padding: 2rem 5rem 2rem 5rem;
  margin: 2rem;
}

.knap a {
  color: #55697e;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .section_2_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  #section_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  #section_4 img {
    width: 80%;
    height: auto;
    padding-top: 1.5rem;
  }

  .section_5_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_6_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  #section_7 h2 {
    text-align: center;
  }

  #section_7 p {
    text-align: center;
    padding: 0 10rem 0 10rem;
  }

  .knap {
    margin: 3rem 15rem 3rem 15rem;
  }
}
