/* ============================== SEKTIONER ============================= */

#section_3 {
  background-color: #a7954b;
  padding: 0 2rem 2rem 2rem;
}

#section_3 p {
  color: white;
}

#section_3 h2 {
  color: white;
}

.knap {
  background: #8ea3c2;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  margin: 2rem;
}

.knap a {
  color: white;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .section_2_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  #section_2 h2 {
    text-align: center;
  }

  #section_3 h2 {
    text-align: center;
  }

  #section_4 h2 {
    text-align: center;
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .knap {
    margin: 2rem 15rem 2rem 15rem;
  }
}
