/* ================ GENERELLE KODER =====================  */
* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 2rem;
  background-color: #f1ede2;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.9rem;
  color: #262521;
  font-weight: 180;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #545454;
  padding-top: 1.5rem;
  font-weight: 200;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: #747474;
  font-weight: 200;
}

p {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #8e8e8e;
}

li {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.7rem;
  color: #8e8e8e;
}

a {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.7rem;
  color: #8e8e8e;
  text-decoration-line: underline;
}

/* ============================== HEADER & NAV ============================= */

header {
  background-color: #cee1f6;
}

header img {
  width: 100px;
  height: auto;
}

ul {
  list-style-type: none;
  color: #55697e;
}

/* ============================== SEKTIONER ============================= */

img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#section_3 {
  background-color: #a7954b;
  padding: 0 2rem 2rem 2rem;
}

#section_3 p {
  color: white;
}

#section_3 h2 {
  color: white;
}

.knap {
  background: #8ea3c2;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  margin: 2rem;
}

.knap a {
  color: white;
}

/* ========================== FOOTER KODER ============================= */

footer {
  background-color: #cee1f6;
  padding: 0.3rem 0.8rem 2.5rem 2rem;
}

footer ul {
  list-style-type: none;
}

footer h3 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

footer h3,
li,
p,
a {
  color: #55697e;
}
