/* ============================== SEKTIONER ============================= */

#section_3 {
  background-color: #e5caac;
  padding: 0 2rem 2rem 2rem;
}

#section_3 h2 {
  color: #846440;
}

#section_3 p {
  color: #846440;
}

.knap1 {
  background: #c4d4e5;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  margin: 2rem;
}

.knap1 a {
  color: #55697e;
}

.knap2 {
  background: #e5caac;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  margin: 2rem;
}

.knap2 a {
  color: white;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .section_2_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_4_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .section_5_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_6_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .section_7_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .section_9_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .knap1 {
    margin: 0 15rem 3rem 15rem;
  }

  .knap2 {
    margin: 3rem 15rem 2rem 15rem;
  }
}
