/* ============================== SEKTIONER ============================= */

#section_3 {
  background-color: #cca45f;
  padding: 0 2rem 2rem 2rem;
}

#section_3 p {
  color: white;
}

#section_3 h2 {
  color: white;
}

.knap {
  background: #cca45f;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  margin: 2rem;
}

.knap a {
  color: white;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .section_2_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_4_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_5_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .section_6_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_7_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .section_8_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_9_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_10_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .knap {
    margin: 2rem 20rem 3rem 20rem;
  }
}
