/* ============================== SEKTIONER ============================= */

#section_3 {
  background-color: #4b6db0;
  padding: 0 2rem 2rem 2rem;
}

#section_3 p {
  color: white;
}

#section_3 h2 {
  color: white;
}

.knap {
  background: #c4d4e5;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  margin: 2rem;
}

.knap a {
  color: #55697e;
}

/* ================================ MEDIA QUERY ===================================== */

@media screen and (min-width: 600px) {
  .section_2_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_3_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_4_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #section_5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #section_5 img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #section_6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .section_7_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .knap {
    margin: 2rem 20rem 3rem 20rem;
  }
}
